{% extends 'baseadmin.html.twig' %}
{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Update Recommendation</h2>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
                <div class="panel-heading">
                    <h4>Update Recommendation Details</h4>
                </div>
                {{ include(':Recommendation:_form.html.twig',{'submitBtnText' : 'Update'}) }}
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
{% endblock %}
{% block stylesheets %}
{% endblock %}